<div class="post-creation-container shadow-sm mx-auto my-3 p-3">
  <div class="d-flex align-items-center">
    <div class="profile-section d-flex align-items-center">
      <mat-icon class="profile-icon">account_circle</mat-icon>
    </div>
    <div class="post-input-container ml-3">
      <label class="post-label" (click)="openDialog()">
        <h5 class="post-text">Crear publicación</h5>
        <mat-icon class="add-icon">add_circle_outline</mat-icon>
      </label>
    </div>
  </div>
</div>
