<div class="d-flex justify-content-center">
  <div class="row shadow" style="width: 50%; height: 100px;">
    <div class="col-2 d-flex justify-content-center align-items-center">
      <mat-icon style="width: 50px; height: 50px; font-size: 50px;">account_circle</mat-icon>
    </div>
    <div class="col-10 d-flex align-items-center p-2">
      <label class="w-100 h-100 label-hover p-0 d-flex justify-content-center align-items-center" (click)="openDialog()">
        <h5 class="ml-4 my-auto float-left py-4">
          Crear Publicación
          <mat-icon class="py-1">add</mat-icon>
        </h5>
      </label>
    </div>
  </div>
</div>
